.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .product {
    width: 15%;
    text-align: center;
    margin: 20px;
    padding: 30px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  img {
    width: 100%;
    border-radius: 10px;
  }
  
  .product-name {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .product-price {
    margin-top: 10px;
    font-size: 18px;
    color: green;
  }